#transection-area{
    display: none;
}
.submit-area{
    /* margin-top: 100px;
    position: absolute;
    right: 0; */
    margin: auto;
    margin-top: 120px;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}
.extraCss{
    width: 100%;
}
button{
    box-shadow: 5px 5px 10px gray;
}
h1{
    padding-top: 20px;
}
.status{
    margin: 0 20px;
    padding: 10px;
    font-size: 100px;
    color: white;
    border-radius: 10px;
    font-weight: 800px;
    text-align: center;
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}